.profile-picture {
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url('https://scontent-atl3-1.cdninstagram.com/vp/8ba4626a2bfb17964b9edacc17ebac55/5E57017E/t51.2885-19/s320x320/76842659_554430288721814_7460938103931273216_n.jpg?_nc_ht=scontent-atl3-1.cdninstagram.com');
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    border: #707070 0.2px solid;
    border-radius: 50%;
}

.name-text {
    margin-top: 20px;
    line-height: 50px;
    font-size: 30px;
    font-weight: 350;
    color: #FFFFFF;
    font-style: italic;
}

.menu-link {
    line-height: 50px;
    font-size: 26px;
    margin: 0px;
    color: #A8A8A8;
}

.menu-link:hover {
    color: #ffffff;
}

.active {
    color: #efefef;
    font-weight: bold;
}

.disabled {
    color: #FFFFFF;
    font-weight: 350;
}

.last-updated{
    position: absolute;
    bottom: 10px;
    line-height: 50px;
    font-size: 26px;
    margin: 0px;
    color: #A8A8A8;
}
