.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #282c34;
}

.fixed{
  position: fixed;
  background: #040303;
  display: block;
  height: 100vh;
  width: auto;
  padding: 35px;
}

.menu-container{
  background: #040303;
}

.content-container{
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color:#F7F7FF;
}

.footer-row{
  height: 20%;
  border-top: 1.5px solid #707070;
}

hr {
  height: 1.3px;
  background-color: #ffffff;
}

.side-menu {
  position: fixed;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom styles */
/* 
.Main-container{
  margin: 0px;
} */
