.languages-container {
    height: 100vh;
    width: auto;
    overflow: hidden;
}

.languages-title-text{
    display: block;
    color: #ffffff;
    background-color: #C6513C;
    margin: 0px;
    height: 10%;
    padding: 10px;
    font-size: 2.6rem;
    font-style: italic;
}

.image-container{
    display: inline-block;
}

.images {
    display: block;
    padding: 0%;
    height: 300px;
    width: 500px;
}

.languages-content-img{
    display: block;
    margin-top: 100px;
    padding: 0%;
    height: 50%;
    width: 100%;
    overflow: hidden;
    background-attachment: fixed;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(https://static.pokemonpets.com/images/maps/Volcano-City.png?20190413);
    background-position: center;
    background-size: cover;
}